<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./components/head") %>

</head>

<body>
    <%- include("./components/headercliend") %>

    <div class="container-1 ">

        <!---------------------slide show--------------------->
        <div class="container-fluid-1">
            <div id="carouselTestimonial" class="carousel carousel-testimonial slide" data-ride="carousel">
                <ol class="carousel-indicators indicator-success">
                    <li data-target="#carouselTestimonial" data-slide-to="0" class=""></li>
                    <li data-target="#carouselTestimonial" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselTestimonial" data-slide-to="2" class="active"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="card border-0 text-center">
                            <div class="card-img-wrapper ">
                                <img src="../views/assets/img/slide1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <p>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0 text-center">
                            <div class="card-img-wrapper ">
                                <img src="../views/assets/img/slide2.jpg" alt="" class="img-fluid">
                            </div>
                            <!-- <div class="card-body">
                       
                    </div> -->
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0 text-center">
                            <div class="card-img-wrapper ">
                                <img src="../views/assets/img/slide3.jpg" alt="" class="img-fluid">
                            </div>
                            <!-- <div class="card-body">
                        <p>
                        </p>
                      
                    </div> -->
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="card border-0 text-center">
                            <div class="card-img-wrapper">
                                <img src="../views/assets/img/slide3.jpg" alt="" class="img-fluid">
                            </div>
                            <!-- <div class="card-body">
                        <p>
                        </p>
                    </div> -->
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTestimonial" role="button" data-slide="prev">
                    <span class="mdi mdi-chevron-left mdi-36px" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselTestimonial" role="button" data-slide="next">
                    <span class="mdi mdi-chevron-right mdi-36px" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="img">
                <img class="card-body" src="../views/assets/img/sticker.png" alt="Card image">

            </div>
        </div>
        <!-----------------------Giá sốc hôm nay------------------------------->
        <div class="container-fluid-2">

            <div class="container-fluid-1">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/giasoc.svg" alt="flash deal">
                <img width="21" src="https://frontend.tikicdn.com/_desktop-next/static/img/dealFlashIcon.svg"
                    alt="flash deal" class="style__Flash-sc-jrvone-0 eBPnHV">
                <img src="https://frontend.tikicdn.com/_desktop-next/static/img/homnay.svg" alt="flash deal">
            </div>
        </div>

        <div class="container-fluid-1">
            <div class="card mr-3 ml-4">
                <div class="card-col" style="width: 18rem;">
                    <img src="../views/assets/img/products/p1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text-center">890.000 </a>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning" style="width: 30%;" role="progressbar">Vừa mở
                                bán</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mr-3">
                <div class="card-col" style="width: 18rem;">
                    <img src="../views/assets/img/products/p1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text-center">890.000 </a>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning" style="width: 30%;" role="progressbar">Vừa mở
                                bán</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mr-3">
                <div class="card-col" style="width: 18rem;">
                    <img src="../views/assets/img/products/p1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text-center">890.000 </a>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning" style="width: 30%;" role="progressbar">Vừa mở
                                bán</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mr-3">
                <div class="card-col" style="width: 18rem;">
                    <img src="../views/assets/img/products/p1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a class="card-text-center">890.000 </a>
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-warning" style="width: 30%;" role="progressbar">Vừa mở
                                bán</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    <!----------------------------10 icon----------------------------->
    <div class="container-fluid-1">
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-1.png" alt="" class="img1">
                <span>Mã giảm giá</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-2.png" alt="" class="img1">
                <span>Ưu đãi thanh toán</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-3.png" alt="" class="img1">
                <span>Không giới hạn</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-4.png" alt="" class="img1">
                <span>Giảm 50%</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-5.png" alt="" class="img1">
                <span>Dịch vụ</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-6.png" alt="" class="img1">
                <span>Đi chợ Online</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-7.png" alt="" class="img1">
                <span>Free Ship</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-8.png" alt="" class="img1">
                <span>hoàn tiền 15%</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-9.png" alt="" class="img1">
                <span>Gói hội viên</span>
            </a>
        </div>
        <div class="card-item">
           
            <a href="#" class="item1">
                <img src="../views/assets/img/icon-10.png" alt="" class="img1">
                <span>Coupon 50%</span>
            </a>
        </div>
        </div>
        <!----------------------------------------Card x4---------------------------------------->
        <div class="container-fluid-3">
            <div class="card4">
                <a href="" class="card4img">
                    <img src="../views/assets/img/card4-1.png.jpg" alt="" class="">
                </a>
            </div>
            <div class="card4">
                <a href="" class="card4img">
                    <img src="../views/assets/img/card4-2.png.jpg" alt="" class="">
                </a>
            </div>
            <div class="card4">
                <a href="" class="card4img">
                    <img src="../views/assets/img/card4-3.png.jpg" alt="" class="">
                </a>
            </div>
            <div class="card4">
                <a href="" class="card4img">
                    <img src="../views/assets/img/card4-4.png.jpg" alt="" class="">
                </a>
            </div>

        </div>
                <!--------------------------Thuong hieu chinh hang------------------------------------------------>

        <div class="container-fluid-1">
            <div class="wrap-brand">
                <div class="brand1">
                    <div class="brand-title">
                        <img class="brand-title-img" src="../views/assets/img/brand-img-1.png" alt="" >
                        <div class="brand-title-text">Thương hiệu chính hãng</div>
                    </div>
                </div>
                <!-----------------Content--Product x5--------------------->
<div class="container-fluid-2">
    <div class="container-fluid-1">
        <div class="card col ">
            <img class="card-body" src="../views/assets/img/products/p1.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title"> Túi xách da - 200g</h4>
                <p class="card-text"> Giá: 1.700.000</p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>

            </div>
        </div>
        <div class="card col">
            <img class="card-body" src="../views/assets/img/products/p2.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>
            </div>
        </div>
        <div class="card col ">
            <img class="card-body" src="../views/assets/img/products/p3.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>
            </div>
        </div>
        <div class="card col">
            <img class="card-body" src="../views/assets/img/products/pa4.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>
            </div>
        </div>
        <div class="card col">
            <img class="card-body" src="../views/assets/img/products/pa5.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <a href="#" class="btn btn-primary">Xem sản phẩm</a>
            </div>
        </div>
    </div>
</div>
          
        
<!-----------------------Content san pham----------------------------------->
<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="brand1">
                <div class="brand-title">
                    <img class="brand-title-img" src="../views/assets/img/brand-img-1.png" alt="" >
                    <div class="brand-title-text">Thương hiệu được ưa chuộng</div>
                </div>
            </div>
			
		</div>
	</div>
</div>
<!----------------------------------layout 2-content product----------------------------->
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12">
            
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-5.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">TV Samsung</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$13.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-6.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Tủ Lạnh SHARP</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$12.00</li>
                            <li class="new_price">$11.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-7.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Máy ảnh Canon</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$23.00</li>
                            <li class="new_price">$17.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-4.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Simple Black Clock</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-8.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Máy giặt Sanyo</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$18.00</li>
                            <li class="new_price">$15.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-9.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Quạt cây đứng</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$21.00</li>
                            <li class="new_price">$17.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-10.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Iphone 12 Pro max</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-11.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Điều hòa Panasonic</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-12.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Tai nghe Bluetooth</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-13.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Bàn phím cơ Black</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-14.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Màn hình Dell U24  </a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="../views/assets/img/products/com-15.jpg" alt="Product" class="img-fluid">
                        <div class="hover">
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html"> Macbook Pro 2020</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price">$16.00</li>
                            <li class="new_price">$10.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!----------------------------layout 3-->   
 <div class="brand1">
    <div class="brand-title">
        <img class="brand-title-img" src="../views/assets/img/brand-img-1.png" alt="" >
        <div class="brand-title-text">Sản phẩm hàng ngày</div>
    </div>
</div>
 <div class="card-deck">
     
    <div class="card">
        
      <img class="card-img-top" src="./views/assets/img/products/com-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rau củ quả</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <br><a href="#" class="btn btn-primary">Xem sản phẩm</a>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../views/assets/img/products/com-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rau củ quả</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <br><a href="#" class="btn btn-primary">Xem sản phẩm</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./views/assets/img/products/com-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Rau củ quả</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <br><a href="#" class="btn btn-primary">Xem sản phẩm</a>
      </div>
    </div>
  </div>
    <!-----------------Footer-------------------------------->


</body> 
    <script src="/views/assets/js/home.js"></script>
    <script src="/views/assets/js/Catagories.js"></script>
    
</html>