<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />
    <link rel="stylesheet" href="/views/assets/css/product_details.css">
    
    <title>Product details</title>
</head>
<body>
    <main class="container">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
          <img data-image="black" src="/views/assets/img/black.png" alt="">
          <img data-image="blue" src="/views/assets/img/blue.png" alt="">
          <img data-image="red" class="active" src="/views/assets/img/red.png" alt="">
        </div>
  
  
        <!-- Right Column -->
        <div class="right-column">
  
          <!-- Product Description -->
          <div class="product-description">
            <span>Id_Product</span>
            <h1>Tên Sản Phẩm</h1>
            <p>Chi tiết sản phẩm ... The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
          </div>
  
          <!-- Product Configuration -->
          <div class="product-configuration">
  
            <!-- Product Color -->
            <div class="product-color">
              <span>Color</span>
  
              <div class="color-choose">
                <div>
                  <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                  <label for="red"><span></span></label>
                </div>
                <div>
                  <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                  <label for="blue"><span></span></label>
                </div>
                <div>
                  <input data-image="black" type="radio" id="black" name="color" value="black">
                  <label for="black"><span></span></label>
                </div>
                <div>
                  <input data-image="green" type="radio" id="green" name="color" value="Green" >
                  <label for="green"><span></span></label>
                </div>
                <div>
                  <input data-image="while" type="radio" id="while" name="color" value="while" >
                  <label for="while"><span></span></label>
                </div>
              </div>

            </div>
  
            <!-- Cable Configuration -->
            <div class="cable-config">
              <span>Size</span>
  
              <div class="cable-choose">
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>X</button>
                <button>XL</button>
              </div>
              <div class="Product_number">
                <span>Số lượng</span>
                <div>
                    <input type="number" min="1" placeholder="  Nhập số lượng" style="margin-bottom: 20px;width: 140px;;height: 45px;border-radius: 9px;padding: 10px;border: 1px solid #E1E8EE;color: #5E6977;outline: none;">
                </div>
              </div>
            </div>
          </div>
          
          <!-- Product Pricing -->
          <div class="product-price">
            <span>148$</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </main>  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
<script>
    $(document).ready(function() {

$('.color-choose input').on('click', function() {
    var headphonesColor = $(this).attr('data-image');

    $('.active').removeClass('active');
    $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
    $(this).addClass('active');
});

});

</script>
</html>